
<body class="font-sans bg-gray-50">

<!-- ================= NAVBAR ================= -->
        <%- include("../partials/navbar") %>
        <%- include("../partials/section1") %>
        <%- include("../partials/section2") %>
        <%- include("../partials/section3") %>
        <%- include("../partials/section4") %>
        <%- include("../partials/section5") %>
        <%- include("../partials/section6") %>
        <%- include("../partials/section7") %>
        <%- include("../partials/footer") %>


</body>
</html>
